In [13]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import os

In [14]:
dataset=pd.read_csv("C:/gapminder_internet.csv")

In [15]:
dataset.head()

       country  incomeperperson  internetuserate  urbanrate
0  Afghanistan              NaN         3.654122      24.04
1      Albania      1914.996551        44.989947      46.72
2      Algeria      2231.993335        12.500073      65.22
3      Andorra     21943.339900        81.000000      88.92
4       Angola      1381.004268         9.999954      56.70